<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ingsha.application.app.mysql.dao.OauthUserDao">
    <resultMap id="BaseResultMap" type="com.ingsha.application.app.mysql.entity.OauthUserPo">
        <id column="id" property="id"/>
        <result column="identify_id" property="identifyId"/>
        <result column="delete_status" property="deleteStatus"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@sql select -->
        id,
        identify_id,
        delete_status,
        <!--@sql from oauth_user-->
    </sql>

    <select id="softDeleteOneById" resultType="integer">
        update oauth_user set delete_status=1 where id= #{id}
    </select>
</mapper>
